<!DOCTYPE html>
<html>
<head>
<style type="text/css">
input{
width:1000px;
    }
textarea{
width:1000px;
height:200px;
    }
</style>
<title>
查询
</title>
</head>
<body>
<form action="{% url 'resultparser:result' %}" method="post">
{% csrf_token %}
Project:<br/>
<input type="text" name="Project"/><br/>
Test suite:<br/>
<input type="text" name="TestSuite"/><br/>
Module:<br/>
<input type="text" name="Module"/><br/>
Testcase:<br/>
<input type="text" name="Testcase"/><br/>
<input type="submit" value="Submit"/><br/>
</form>
</body>
</html>
